:root {
	--primary: #414c24;
	--primary-light: #616c44;
	--secondary: #f00;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, "Noto Sans", Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar-brand,
h1,
h2,
h3 {
	font-weight: bold;
}

.navbar {
	background-color: rgba(255, 255, 255, .95) !important;
	-webkit-position: sticky;
	position: sticky;
	top: 0;
	z-index: 1000;
	font-weight: bold;
	color: var(--primary) !important;
	padding-bottom: 50px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav .nav-link {
	color: rgba(0, 0, 0, .6);
}

.jumbotron,
footer {
	background-color: #cedbe3 !important;
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, .5);
	border-radius: 0;
	background-image: url('img/torfmoor.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 15%;
}

.jumbotron {
	margin-bottom: 0;
	height: 300px;
}

footer {
	background-position: bottom;
}

.jumbotron-heading {
	margin-top: 100px;
}
footer {
	margin-top: 4rem;
	padding: 2rem 0;
}

.btn-primary {
	color: var(--primary);
	border: 2px var(--primary) solid;
	background: transparent;
	font-weight: bold;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	color: #fff;
	background: var(--primary-light);
	border-color: var(--primary-light);
}

/* Abspielknopf für Aufnahmen */
.btn.btn-play {
	margin-top: 4px;
    border-radius: 100px;
	padding: 20px;
	background-image: url('img/sound-color.svg');
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: center;
}
.btn.btn-play:hover,
.btn.btn-play:focus,
.btn.btn-play:active {
	background-image: url('img/sound.svg');
}

h3 {
	font-size: 1.25rem;
}

/* Abstand für Worte ohne Aufnahme */
.media div.mr-3 {
	padding: 21px;
}

a {
	color: var(--primary);
	text-decoration: none !important;
}
a:hover,
a:focus,
a:active {
	color: var(--primary-light);
}

footer a {
	color: #fff !important;
	font-weight: bold;
}
footer a:hover,
footer a:focus,
footer a:active {
	opacity: .8;
}

.navbar-brand img {
	height: 32px;
	vertical-align: text-bottom;
}

section {
	padding-top: 32px;
}

h2 {
	display: block;
	background-color: #fff;
	color: var(--primary) !important;
	text-align: center;
	padding: 16px;
	padding-top: 76px;
	margin-top: -30px;
}

h3 {
	margin-top: 1rem;
}

.media {
    padding: 15px;
}
