:root {
	--primary: #166c4c;
	--primary-light: #16a34c;
	--primary-lighter: #4cbe6f;
	--secondary: #dbce85;
	--maxcontrast: #737674;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, "Noto Sans", Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	margin-bottom: 40vh;
}

nav,
h1,
h2,
h3 {
	font-weight: bold;
}

.navbar {
	-webkit-position: sticky;
	position: sticky;
	top: 0;
	margin: 0 auto;
	width: 408px;
	max-width: 100%;
	overflow: hidden;
	margin-top: -34px;
	z-index: 1000;
	font-weight: bold;
}

.navbar .container {
	padding: 0;
}

#navbar {
	width: calc(100% - 8px);
	padding-left: 4px;
}

.navbar-nav.navbar-center {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
	color: var(--primary) !important;
	padding: 13px 24px !important;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	color: var(--primary-light) !important;
}

.random {
	display: block;
	margin: 0 auto 1rem;
	border: none;
	background-color: var(--primary-light);
	background-image: url('img/shuffle.svg'), linear-gradient(45deg, var(--primary-light) 0%, var(--secondary) 100%);
	background-repeat: no-repeat;
	background-position: left center;
	font-weight: bold;
	color: #fff;
	border-radius: 22px;
	padding: 10px 20px 10px 60px !important;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.random:hover,
.random:focus {
	background-color: var(--primary-light);
	background-image: url('img/shuffle.svg'), linear-gradient(45deg, var(--primary-light) 0%, var(--primary-light) 100%);
}

.search-container {
	position: sticky;
	top: 58px;
	margin: 0 auto;
	width: 400px;
	max-width: 100%;
}

#search {
	border: 2px solid var(--primary);
	border-radius: 100px;
	padding: 8px 20px;
	margin-top: 12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 100%;
}
#search:focus {
	border-color: var(--primary-light);
}

#search-error {
	visibility: hidden;
	text-align: center;
}

.jumbotron {
	margin-bottom: 0;
	height: 300px;
	padding-top: 32px;
	background-color: #cedbe3 !important;
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, .5);
	border-radius: 0;
	background-image: url('img/torfmoor-edited-smaller.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 15%;
}

.jumbotron-heading {
	margin-top: 100px;
}

a {
	color: var(--primary);
	text-decoration: none !important;
	font-weight: bold;
}
a:hover,
a:focus,
a:active {
	color: var(--primary-light);
}

section {
	padding-top: 32px;
}

h1 {
	font-size: 4rem;
}

h2 {
	display: block;
	background-color: #fff;
	color: var(--primary) !important;
	text-align: center;
	padding-top: 60px;
	margin-top: -30px;
}
h2 a {
	display: block;
	padding: 16px;
}

h3 {
	font-size: 1.25rem;
	margin-bottom: 0;
}

h3 + p {
	margin-bottom: 0;
}

.btn-primary {
	color: var(--primary);
	border: 2px var(--primary) solid;
	background: transparent;
	font-weight: bold;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	color: #fff;
	background: var(--primary-light);
	border-color: var(--primary-light);
}

/* Listenelemente */
.list-unstyled li {
	padding: 0.25rem;
	display: inline-flex;
}

/* Abspielknopf für Aufnahmen */
li button {
	background-color: #fff;
	border: none;
	text-align: left;
	width: 100%;
	padding: 1rem 1rem 1rem 80px;
	background-image: url('img/sound.svg');
	background-repeat: no-repeat;
	background-size: 44px;
	background-position: 20px center;
}
li button:hover,
li button:focus {
	background-image: url('img/sound-filled.svg');
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 22px;
	color: var(--primary-light);
}

li button p {
	color: var(--maxcontrast);
}

::selection {
	background-color: var(--primary-light);
	color: #fff;
}
